body {
  background: antiquewhite;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.left, .right {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.shrimp-button {
  font-weight: bold;
}

.qr-code-button, .settings-button {
  padding: 5px;
}
