
@font-face {
  font-family: 'NeoTech';
  src: url('../src/fonts/NeoTech-Medium.ttf');
  src: local('NeoTech Medium'), local('NeoTech-Medium'),
  url('../src/fonts/NeoTech-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeoTech';
  src: url('../src/fonts/NeoTech.ttf');
  src: local('NeoTech'),
  url('../src/fonts/NeoTech.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeoTech';
  src: url('../src/fonts/NeoTech-Light.ttf');
  src: local('NeoTech Light'), local('NeoTech-Light'),
  url('../src/fonts/NeoTech-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeoTech';
  src: url('../src/fonts/NeoTech-Black.ttf');
  src: local('NeoTech Black'), local('NeoTech-Black'),
  url('../src/fonts/NeoTech-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeoTech';
  src: url('../src/fonts/NeoTech-Bold.ttf');
  src: local('NeoTech Bold'), local('NeoTech-Bold'),
  url('../src/fonts/NeoTech-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



* {
  font-family: 'NeoTech Medium', sans-serif;
}

body {
  background: antiquewhite;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.left, .right {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}

.icon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.shrimp-button {
  font-family: 'Brass Mono', monospace;
  font-size: medium;
  font-weight: bold;
  padding: 4px 8px;
  color: darkgrey;
  background-color: #e8ffff;
  border-radius: 16px;
  border: 2px solid #e9ffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.qr-code-button, .settings-button {
  padding: 5px;
}

.username-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.username-text {
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}


.balance-container {
  margin: 20px;
  padding: 15px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.balance-text {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.balance-amount {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
}

.buttons-container {
  display: flex;
}

.button-balance {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 16px;
  background-color: #ffd700; /* Желтый цвет */
  color: #000000; /* Цвет текста */
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 4px 4px 0 rgb(0, 0, 0);
}

.button-balance:last-child {
  margin-right: 0;
}

.wrapper {
  margin: 10px;
  display: flex;
}

.container-left {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffd700;
}

.container-right {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.hot-balance {
  padding: 15px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.hot-balance-text {
  font-weight: bold;
}

.hot-balance-number {
  font-weight: 800;
  margin-top: 5px;
  font-size: large;
}


.storage {
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
}

.mining-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.mining-data {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mining-data-collected {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.storage-text {
  font-weight: bold;
}

.mining {
  border-radius: 4px;
  width: 30px;
  height: 120px;
  background-color: #ddd;
  display: flex;
  align-items: flex-end;
}

.mining-scale {
  width: 100%;
  border-radius: 4px;
  background-color: sandybrown;
  height: 30%;
}

.mining-data-mining {
  font-weight: 600;
  color: #333;
  font-size: 15px;
}

.mining-data-collected {
  font-weight: 600;
  color: #333;
  font-size: 15px;
}

.mining-data-value {
  font-weight: 800;
  font-size: 16px;
}


.portfolio-title {
  margin: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #333;
}

.portfolio-container {
  margin: 20px;
  padding: 15px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: row;
}

.hot-avatar {
  width: 50px;
  border-radius: 12px;
}
.hot-data {
  margin-left: 15px;
}

.hot-title {
  font-weight: bold;
  font-size: 20px;
}

.hot-value {
  margin-top: 10px;
  font-weight: 600;
  color: #333;
}

.arrow-icon {
  width: 30px;
  margin-top: 10px;
}